
<% if(!locals.user && !locals.audio) { %>
<div>
  <h2>Feelsbad, couldn't find anything</h2>
  <p>Maybe check if you misspelled something</p>
</div>

<%# Generate the user links %>
<% } else { %>
  <h2 class="text-dark">Users</h2>
  <div class="audio">
    <ul class="audiolist list-group list-unstyled">
      <% if(locals.user.length) { %>
        <% locals.user.forEach(function(element) { %>
          <li class="list-group-item col-sm-4">
            <a href="/user/<%- element.name %>">
              <span class="text-dark lead font-weight-bold"><%- element.name %></span>
              <span class="text-dark float-right small">
                <% if(element.sounds == 0) { %>
                  no sounds
                <% } else if(element.sounds == 1) { %>
                  <span class="font-weight-bold"> 1 sound </span>
                <% } else { %>
                  <span class="font-weight-bold">  <%- element.sounds %> sounds </span>
                <% } %>
              </span>
            </a>
          </li>
        <% }); %>
      <% } else { %>
        <p>Nope, couldn't find anyone</p>
      <% } %>
    </ul>
  </div>

<%# Generate sounds/players %>
  <h2 class="text-dark">Sounds</h2>
  <div class="audio">
    <ul class="audiolist list-group list-unstyled">
      <% if(locals.audio.length) { %>
        <% locals.audio.forEach(function(element) { %>
          <%- include("player", {audio: element}); %>
        <% }); %>
      <% } else { %>
        <p>No tracks are named like that🤔</p>
      <% } %>
    </ul>
  </div>

<% } %>
