<div class="float-right">
  <ul class="navbar-nav navbar-right">
    <li class="globalPlayer">
      <button id="globalPlayPause" class="btn hide" type="button"><img height="40" width="40" class="invert" src="/icons/play.svg"></button>
      <span class="dropdown">
        <button id="dropbutton" class="btn btn-primary hide bg-dark">
          <img height="30" width="30" class="invert" src="/icons/volume.svg">
        </button>
        <div id="dropmenu" class="dropdown-content bg-dark">
          <p class="text-light volumeText">+</p>
          <input class="volumeSlider slider" id="globalVolume" type="range" min="0" max="100" value="50" orient="vertical">
          <p class="text-light volumeText">-</p>
        </div>
      </span>
      <span class="text-light" id="globalCurrentTime">0:00</span>
      <input class="slider" id="globalPosition" type="range" min="0" max="100" value="0">
      <span class="text-light" id="globalEndTime">0:00</span>
      <span class="text-light">
        <span id="globalAuthor" class="limitText"></span>
        <span>&nbsp-&nbsp</span>
        <span id="globalName" class="limitText"></span>
      </span>
      <span class="dropdown text-light" id="globalEndOption">
        <select>
          <option value="repeat">Repeat</option>
          <option value="next">Next</option>
          <option value="stop">Stop</option>
        </select>
      </span>
    </li>
  </ul>
</div>
