<%# since this player is used everywhere, there are quite a lot of variables here. %>
<%# Most of them deal with adding classes depending on whether the player is public or not (making it dark or white) %>
<%# this is done using the shortened if-notation. Maybe I should have done two different players..%>

<li>
  <div  class="player col-sm-8 list-group-item <%- locals.audio.isPublic == 0 ? 'bg-dark text-light' : '' %>">

    <div class="waveform" data-file="<%- locals.audio.fileurl %>">
      <span class="float-right small" <%= locals.audio.isPublic == 0 ? '' : 'hidden' %> >Private</span>
      <p class="author small"><%- locals.audio.author %></p>
      <span class="date small float-right"><%- locals.audio.datetime %>></span>
      <p class="title lead"><%- locals.audio.name %></p>

      <button class="btn bnt-primary hide" id="playPause" type="button"><img height="40" width="40" class="<%- locals.audio.isPublic == 1 ? '' : 'invert' %>" src="/icons/play.svg"></button>
      <button class="btn bnt-primary hide" id="stop" type="button"><img height="50" width="50" class="<%- locals.audio.isPublic == 1 ? '' : 'invert' %>" src="/icons/stop.svg"></button>
      <% if(locals.audio.download == 1) { %>
        <a href="<%- locals.audio.fileurl %>" download>
          <button class="btn btn-primary btn-sm <%- locals.audio.isPublic == 1 ? 'bg-dark text-light' : 'bg-light text-dark' %>" id="download" type="button">Download</button>
        </a>
      <% } %>
      <% if(locals.admin) { %>
        <span class="dropdown">
          <button id="dropbutton" class="btn btn-primary btn-sm <%- locals.audio.isPublic == 1 ? 'bg-dark text-light' : 'bg-light text-dark' %>">Delete</button>
          <div id="dropmenu" class="dropdown-content <%- locals.audio.isPublic == 1 ? 'bg-dark' : 'bg-light' %>">
            <a href="#" class="option <%- locals.audio.isPublic == 1 ? 'text-light' : 'text-dark' %>">Delete</a>
            <a href="#" class="option <%- locals.audio.isPublic == 1 ? 'text-light' : 'text-dark' %>">Cancel</a>
          </div>
        </span>
      <% } %>
      <span class="float-right" id="endTime"><%- locals.audio.duration %></span>
      <span class="float-right">/</span>
      <span class="float-right" id="currentTime">0:00</span>
      <!-- wavesurfer goes here -->
    </div>
  </div>
</li>
