<% if(!locals.audio.url) { %>
  <#% link to the audio that was uploaded %>
  <!-- logged in -->
  <div>
    <p class="text-dark lead">Nice! We got it</p>
    <a href="user/<%- locals.user %>">Go to your page</a>
  </div>
<% } else { %>
  <!-- unlogged -->
  <div>
    <p class="text-dark lead">Nice! We got it</p>
    <a href="nouser/<%- locals.audio.url %>">Go to your sound</a>
  </div>
<% } %>
