<!DOCTYPE html>
<html>
<head>
  <!--Niku Grönberg 2017-->
  <meta charset="utf-8" />
  <title>Soundground</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<!-- unlogged navbar -->
<% if(!locals.session.user) { %>
<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark static-top">
    <a href="/" class="navbar-brand">Soundground</a>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find">Find</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
    </ul>
    <%- include("./elements/globalPlayer"); %>
  </nav>
</header>

<!-- logged navbar -->
<% } else { %>
<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark static-top">
    <a href="/" class="navbar-brand">Soundground</a>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find">Find</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/<%- locals.session.user %>">Profile</a>
      </li>
      <li class="nav-item">
        <form action="/logout" method="get">
          <input class="btn" type="submit" value="Log Out">
        </form>
      </li>
    </ul>
    <%- include("./elements/globalPlayer"); %>
  </nav>
</header>
<% } %>


<body>
  <div class="hero">
    <%- defineContent("hero") %>
  </div>

  <!-- main goes here -->
  <main>
    <div class="container">
      <%- defineContent("main") %>
      <%- defineContent("additionalMain") %>
    </div>
  </main>
</body>

<div>
  <footer class="footer">
    Copyright &copy; 2017 Niku Grönberg
  </footer>
</div>
</html>

<script src="/scripts/globalPlayer.js"></script>
