body {
  background-color: lightgray;
}

.hero {
  padding-top: 1em;
}

.fixed-top {
  margin-bottom: 1em;
}

.container {
  padding-top: 1em;
}

.footer {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.warning {
  font-size: 14px;
  color: red;
}

.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
}


.hide {
  background-color: #ffffff00;
  padding: 0;
}

img {
  background-color: #ffffff00;
  border-radius: 5px;
}

.author {
  margin-bottom: 0;
}

a {
  outline:none;
}

a:hover {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  border-radius: 5px;
}

.option {
  padding: 0.5em;
}

.invert {
  filter: invert(100%);
}

.go-right {
  display: inline-block;
  left: 100%;
}

.volumeSlider {
  height: 5em;
  margin: 0.3em;
  -webkit-appearance: slider-vertical;

}

.volumeText {
  text-align: center;
  font-weight: bold;
  margin: 0.1em;
  padding: 0;
}

.slider {
  vertical-align: middle;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: white;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: white;
}

.limitText {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#globalEndOption {
  position: static;
  display: inline-block;
  float: right;
  vertical-align: middle;
  margin-left: 2em;
}
