<%- contentFor("main") %>
<%# The searchbox for find page %>

<div class="search">
  <h2 class="text-dark">Find users and sounds</h2>
  <input class="" id="findText" type="text"></input>
</div>

<div class="results">

</div>

<script src="/scripts/findClient.js"></script>
<script src="/scripts/visualiser.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<script src="/scripts/dateformat.js"></script>
