<%- contentFor("main")%>
<%# this page should have something cool, like most popular songs or something like that %>
<%# too bad likes and plays are not implemented %>
<%# although they would be the next thing to add, but this is complex enough as a harkkatyö %>

<div>
  <h2>The place to sound</h2>
  <p>Hello world!</p>
  <p>Already a user?</p>
  <a class="btn btn-primary bg-dark" href="/login" role="button">Log In</a>
  <p>New around here? Consider signing up!</p>
  <a class="btn btn-primary bg-dark" href="/signup" role="button">Create account</a>
</div>
