<%- contentFor("main")%>


<div class="signup col-sm-4">
  <h2>Welcome back!</h2>
  <form action="" method="post">
    Username: <br>
    <input id="username" type="text" name="username" required><br>
    Password:<br>
    <input id="password" type="password" name="password" required><br>
    <p class="warning"><%= locals.message ? locals.message : "" %></p>
    <input type="submit" value="Log in">
  </form>
</div>
