<%- contentFor("main") %>


<div>
  <h2> <%= locals.audio.author %> </h2>
  <div class="audio">
    <ul class="audiolist list-group list-unstyled">
      <%- include("../elements/player", {audio: locals.audio}); %>
    </ul>
    <p class="text-dark">This sound can't be found except via the link below.<br>
      Create an account to share your sounds with the world!</p>
  </div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<script src="/scripts/visualiser.js"></script>
<script src="/scripts/nouserLink.js"></script>
<script src="/scripts/dateformat.js"></script>
