<%- contentFor("main")%>

<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/additional-methods.min.js"></script>

<div class="signup col-sm-8">
  <h2>You'll be soon part of the family</h2>
  <form action="" method="post">
    Username: <br>
    <input id="username" type="text" name="username" required><br>
    <span class="warning"></span>
    Password:<br>
    <input id="password" type="password" name="password" required><br>
    <span class="warning"><%= locals.message ? locals.message : "" %></span>
    <input type="submit" value="Create new user">
  </form>
  <script src="/scripts/formValidation.js"></script>
</div>
