<%- contentFor("main")%>

<div class="uploadInfo col-sm-8">
  <h2>Your track</h2>
  <form action="" method="post">
    Track Name: <input type="text" name="name">
    Author: <input type="text" name="author">
    <br>Public: <input type="checkbox" name="isPublic">
    <br>Enable Downloads: <input type="checkbox" name="download">
    <p class="warning"><%= locals.message ? locals.message : "" %></p>
    <input id="save" type="button" value="Save">
    <input id="cancel" type="button" value="cancel">
  </form>
</div>
