<%- contentFor("main")%>
<%# the upload page, it has some moving parts %>

<div class=" col-sm-8">
  <h2>Upload</h2>
  <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
    <input id="fileUpload" type="file" name="filetoupload">
    <p class="warning"><%= locals.message ? locals.message : "" %></p>
  </form>
</div>

<div class="uploadInfo col-sm-8" style="display: none">
  <h3>Your track</h3>
  <div id="waveform">

  </div>
  <form action="" method="post">
    <br>Track Name: <input type="text" name="name" size="32">
    <% if(locals.session.user) { %>
      <br>Author: <input type="text" name="author" size="32" disabled="true">
      <br>Public: <input type="checkbox" name="isPublic">
    <% } else { %>
      <br>Author: <input type="text" name="author" size="32">
      <br>Public: <input type="checkbox" name="isPublic" disabled="true">
      <p class="small">You need to be logged in to share sounds publicly.<br>
        Don't worry, you can still share this to your friends directly with a link</p>
    <% } %>
    <br>Enable Downloads: <input type="checkbox" name="download">
    <p class="warning"><%= locals.message ? locals.message : "" %></p>
    <p>Press save to finish upload, otherwise upload will be cancelled</p>
    <input id="save" type="button" value="Save" disabled="true">
    <input id="cancel" type="button" value="cancel">
  </form>
  <div id="link">
  </div>
</div>



<script src="/scripts/uploadClient.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
