<%- contentFor("main") %>

<%# we get users uploads and show them on their own profile page %>

<% if(!locals.user) { %>
<div>
  <h2>There is no one here named like that</h2>
  <p>Sorry, but you might have misspelt the name</p>
</div>

<% } else { %>
  <div>
    <h2> <%= locals.user.name %> </h2>
    <div class="audio">
      <ul class="audiolist list-group list-unstyled">
        <% if(locals.audio.length) { %>
          <% audio.forEach(function(element) { %>
            <%- include("../elements/player", {audio: element}); %>
          <% }); %>
        <% } else { %>
          <p>This user hasn't uploaded anything yet</p>
        <% } %>
      </ul>
    </div>
  </div>

<% } %>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<script src="/scripts/visualiser.js"></script>
<script src="/scripts/dateformat.js"></script>
